<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>
<body>
<main>
    <hr>
    <section>
        <header>
            <h2>Section Heading</h2>
            <p>Section Subheading</p>
        </header>
        <aside>
            <h3>Card heading</h3>
            <p>Card content*</p>
            <p><small>*with small content</small></p>
        </aside>
        <aside>
            <h3>Card heading</h3>
            <p>Card content <sup>with notification</sup></p>
        </aside>
        <aside>
            <h3>Card heading</h3>
            <p>Card content</p>
        </aside>
    </section>
    <hr>

</main>
</body>
</html>